    <footer class="text-center space-y-2 py-5 opacity-30">
<% if (!['config', 'register', 'login'].includes(locals.name)){ -%>
      <div id="userinfo" class="space-x-2">
<% if(!locals.user){ -%>
          <a href="/login" id="login">登录</a>
<% }else{ -%>
          @<a title="个人资料" href="/u/<%= user.from %>/<%= user.username %>"><%= user.nickname || user.username %></a>
<% } -%>
        <span>|</span>
<% if(locals.name !== 'playground/game'){ -%>
        <a href="/rank">排行榜</a>
<% } else if(locals.playground?.id) {-%>
        <a href="/playground/game/<%=locals.playground?.id-%>/records">历史记录</a>
        <span>|</span>
        <a href="/playground/game/<%=locals.playground?.id-%>/rank">排行榜</a> 
<% } -%>
      </div>
<% } -%>
      <p>&copy; <%= new Date().getFullYear() -%> <a href="https://wju.adventext.fun" target="_blank">WJU</a>. All rights reserved.</p>
    </footer>
  </article>
</body>
<script>initDarkMode();</script>
<script src="https://cdn.tailwindcss.com"></script>
<script src="/assets/vue.min.js"></script>
<script src="/assets/core.js"></script>
<script src="/assets/main.js"></script>
</html>