<%- include('header') %>
      <main class="flex-1 flex flex-col justify-center items-center relative">
        <h2 class="text-3xl">
          <span class="font-bold">@<%= profile.nickname || profile.username %></span>
        </h2>
        <span v-if="error" class="error">{{ error }}</span>
        <section class="grid grid-cols-3">
          <div class="p-4 text-center">
            <h3 class="text-lg space-x-2 flex justify-center items-center">
              <svg width="1.5em" height="1.5em" class="inline-block">
                <use xlink:href="#icon-point"></use>
              </svg>
              <span>剩余积分</span>
            </h3>
            <p class="text-2xl"><%= profile.point %></p>
          </div>
          <div class="p-4 text-center">
            <h3 class="text-lg space-x-2 flex justify-center items-center">
              <svg width="1.5em" height="1.5em" class="inline-block">
                <use xlink:href="#icon-win"></use>
              </svg>
              <span>胜率</span>
            </h3>
          <% if (Number(profile.total) > 0) { -%>
            <p class="text-2xl"><%= (Number(profile.winRate) * 100).toFixed(2) %>%</p>
          <% } else { -%>
            <p class="text-2xl"><a href="/">尚未游玩</a></p>
          <% } -%>
          </div>
          <div class="p-4 text-center">
            <h3 class="text-lg space-x-2 flex justify-center items-center">
              <svg width="1.5em" height="1.5em" class="inline-block">
                <use xlink:href="#icon-game"></use>
              </svg>
              <span>开局次数</span>
            </h3>
            <p class="text-2xl"><%= profile.total %></p>
          </div>
          <% if (Number(profile.matched) > 0) { -%>
          <div class="p-4 text-center">
            <h3 class="text-lg space-x-2 flex justify-center items-center">
              <svg width="1.5em" height="1.5em" class="inline-block">
                <use xlink:href="#icon-time"></use>
              </svg>
              <span>平均耗时</span>
            </h3>
            <p class="text-2xl"><%= avgTimeCost %></p>
          </div>
          <div class="p-4 text-center">
            <h3 class="text-lg space-x-2 flex justify-center items-center">
              <svg width="1.5em" height="1.5em" class="inline-block">
                <use xlink:href="#icon-step"></use>
              </svg>
              <span>平均步数</span>
            </h3>
            <p class="text-2xl"><%= Number(profile.avgSteps) %></p>
          </div>
          <div class="p-4 text-center">
            <h3 class="text-lg space-x-2 flex justify-center items-center">
              <svg width="1.5em" height="1.5em" class="inline-block">
                <use xlink:href="#icon-earn"></use>
              </svg>
              <span>平均奖励</span>
            </h3>
            <p class="text-2xl"><%= Number(profile.avgEarnedPoint).toFixed(2) %></p>
          </div>
          <% } -%>
        </section>
        <% if(locals.user && locals.user.id.toString() === profile.id.toString()){ -%>
          <section class="text-lg text-[var(--disabled-bg-color)]">
            <a href="#bag" class="font-bold text-action-3">🎒 我的背包</a> | <a href="/records">☰ 游玩历史</a> | <a href="/logout">👋 退出登录</a>
          </section>
        <% } -%>
        <% if(locals.user && (locals.user.id.toString() === profile.id.toString() || locals.user.isAdmin)){ -%>
        <% if(locals.user.isAdmin){ -%>
          <button class="font-bold py-2 px-4 rounded m-2 font-mono text" @click="addItem">+ 添加道具</button>
        <% } -%>
        <section class="py-2" id="bag">
          <section class="grid grid-cols-3 gap-4 mt-2 mb-4">
            <% bags.forEach(bag => { -%>
            <div class="border border-dashed border-[var(--border-color)] rounded p-4 text-center">
              <h4 class="text-lg font-bold mb-2"><%= bag.name %> x<%= bag.count %></h4>
              <p class="mb-2 text-sm text-[var(--disabled-bg-color)]"><%= bag.description %></p>
              <button 
                class="bg-action-3 font-bold py-2 px-4 rounded w-full"
                <%= bag.count > 0 ? '' : 'disabled' %>
                @click="useItem('<%= bag.key %>')">
                使用
              </button>
            </div>
            <% }) -%>
            <% if (bags.length === 0) { -%>
            <p class="col-span-3 text-center text-[var(--disabled-bg-color)]">
              背包空空如也，快去游乐场挑战<a href="/difficult" class="border-b border-dashed">困难模式</a>获取道具吧！
            </p>
            <% } -%>
          </section>
        </section>
        <% } -%>
      </main>
    </section>
  </section>
<%- include('footer') %>