<%- include('header') %>
      <main class="flex-1 flex flex-col overflow-auto items-center relative">
        <header>
          <h2 class="title">
            <section>排行榜</section>
          </h2>
        </header>
        <section id="rank">
          <table class="m-auto text-center">
            <thead class="sticky top-0 border-b border-dashed border-current bg-[var(--bg-color)]">
              <tr>
                <th class="th_number">排名</th>
                <th class="th_name">用户名</th>
                <th class="th_stage">胜率</th>
                <th class="th_stage">通关数</th>
                <th class="th_date">平均步数</th>
              </tr>
            </thead>
            <tbody>
<% for(let i = 0; i < ranks.length; i++) { -%>
              <tr  <%- locals.user && ranks[i].username === locals.user.username && ranks[i].from === locals.user.from ? 'class="font-bold"' : '' %>>
                <td class="p-2"><%= (i+1) %></td>
                <td class="p-2">
                  <a href="/u/<%= ranks[i].from %>/<%= ranks[i].username %>" class="inline-flex justify-center items-center gap-1">
                    <svg width="1.5em" height="1.5em" class="inline-block">
                      <use xlink:href="#icon-<%= {
                        fishpi: 'fishpi',
                        github: 'github',
                        steam: 'steam'
                      }[ranks[i].from] %>"></use>
                    </svg>
                    <span><%= ranks[i].nickname %></span>
                  </a>
                </td>
                <td class="p-2"><%= (Number(ranks[i].winRate) * 100).toFixed(2) %>%</td>
                <td class="p-2"><%= ranks[i].matched %></td>
                <td class="p-2"><%= Number(ranks[i].avgSteps) %></td>
              </tr>
<% } -%>
            </tbody>
          </table>
        </section>
      </main>
<%- include('footer') %>